
<h1>Search for Something!</h1>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Search For People Of the Year!</title>
    <link href="/style.css" rel="stylesheet" />
</head>
<body>
    <form class="form" method="post">
        <label for="begYear">Beginning Year</label>
        <input type="text" name="begYear" />

        <label for="endYear">Ending Year</label>
        <input type="text" name="endYear" />

        <div class="button">
            <button>Search!</button>
        </div>
    </form>
</body>
</html>