@{
    var name = "Jeffe";
}

<h1>My name @name</h1>

<form method="post">
    <label for="begYear">Beginning Year</label>
    <input type="text" name="begYear" />

    <label for="endYear">Ending Year</label>
    <input type="text" name="endYear" />

    <button>Search!</button>
</form>